main {
  color: white;
  section {
    padding: 50px 0;

    @include breakpoint(lg) {
      padding: 100px 0;
    }

    &:first-child {
      padding-top: 100px;

      @include breakpoint(lg) {
        padding: 200px 0;
      }
    }

    h2 {
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px;
      font-size: 1.625rem;

      @include breakpoint(md) {
        font-size: 2.375rem;
        margin-bottom: 100px;
      }
    }

    // home page part
    .part {
      text-align: center;
      padding: 0 6px;
      margin-bottom: 50px;

      @include breakpoint(lg) {
        padding: 0 6px;
        margin-bottom: 0;
      }
      @include breakpoint(xl) {
        padding: 0 26px;
      }
      &__image {
        img {
          width: 130px;
          @include breakpoint(md) {
            width: 160px;
          }
        }
      }

      &__text {
        margin-top: 24px;
        @include breakpoint(md) {
          margin-top: 28px;
        }
        h3 {
          font-size: 1.5rem;
          font-weight: 700;

          @include breakpoint(md) {
            font-size: 2rem;
          }
        }
        hr {
          width: 60px;
          height: 4px;
          border-radius: 4px;
          background-color: $orange;
          margin: 8px auto 14px;
        }
        p {
          font-weight: 1.125rem;
        }
      }
    }
  }
}
