main {
  color: white;
  section {
    padding: 50px 0;

    @include breakpoint(lg) {
      padding: 100px 0;
    }

    &:first-child {
      padding-top: 100px;

      @include breakpoint(lg) {
        padding: 200px 0;
      }
    }

    // home page part
    .part {
      text-align: center;
      padding: 0 6px;
      margin-bottom: 50px;

      @include breakpoint(lg) {
        padding: 0 6px;
        margin-bottom: 0;
      }
      @include breakpoint(xl) {
        padding: 0 26px;
      }
      &__image {
        img {
          width: 130px;
          @include breakpoint(md) {
            width: 160px;
          }
        }
      }

      &__text {
        margin-top: 24px;
        @include breakpoint(md) {
          margin-top: 28px;
        }

        hr {
          width: 60px;
          height: 4px;
          border-radius: 4px;
          background-color: $orange;
          margin: 8px auto 14px;
        }
        p {
          font-weight: 1.125rem;
        }
      }
    }

    &#hp2 {
      text-align: center;
      padding-left: 16px;
      padding-right: 16px;

      @include breakpoint(lg) {
        text-align: left;
      }

      .row {
        &:nth-child(odd) {
          .center {
            padding-right: 15px;

            @include breakpoint(lg) {
              padding-right: 70px;
            }
          }
        }

        &:nth-child(even) {
          .center {
            padding-left: 15px;

            @include breakpoint(lg) {
              padding-left: 70px;
            }
          }
        }
      }

      img {
        width: 80%;

        @include breakpoint(sm) {
          width: 300px;
        }
        @include breakpoint(md) {
          width: 400px;
        }
        @include breakpoint(lg) {
          width: 100%;
        }
        @include breakpoint(xl) {
          width: 500px;
        }
      }
      .center {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
