main {
  color: white;
  section {
    padding: 50px 0;

    @include breakpoint(lg) {
      padding: 100px 0;
    }

    &:first-child {
      padding-top: 100px;

      @include breakpoint(lg) {
        padding: 200px 0 100px;
      }
    }

    // home page part
    .part {
      text-align: center;
      padding: 0 6px;
      margin-bottom: 50px;

      @include breakpoint(lg) {
        padding: 0 6px;
        margin-bottom: 0;
      }
      @include breakpoint(xl) {
        padding: 0 26px;
      }
      &__image {
        img {
          width: 130px;
          @include breakpoint(md) {
            width: 160px;
          }
        }
      }

      &__text {
        margin-top: 24px;
        @include breakpoint(md) {
          margin-top: 28px;
        }

        hr {
          width: 60px;
          height: 4px;
          border-radius: 4px;
          background-color: $orange;
          margin: 8px auto 14px;
        }
        p {
          font-weight: 1.125rem;
        }
      }
    }

    &#hp2 {
      text-align: center;
      // padding-left: 16px;
      // padding-right: 16px;

      @include breakpoint(lg) {
        text-align: left;
      }

      .row {
        p {
          margin-bottom: 50px;
          @include breakpoint(lg) {
            margin-bottom: 0;
          }
        }

        &:nth-child(odd) {
          .center {
            padding-right: 15px;

            @include breakpoint(lg) {
              padding-right: 70px;
            }
          }
        }

        &:nth-child(even) {
          .center {
            padding-left: 15px;

            @include breakpoint(lg) {
              padding-left: 70px;
            }
          }
        }
      }

      img {
        width: 80%;

        @include breakpoint(sm) {
          width: 300px;
        }
        @include breakpoint(md) {
          width: 400px;
        }
        @include breakpoint(lg) {
          width: 100%;
        }
        @include breakpoint(xl) {
          width: 500px;
        }
      }
    }
    .center {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }

    // action banner
    &.action-banner {
      background-color: $secondary;
      text-align: center;
      h2 {
        margin-bottom: 32px;
        @include breakpoint(lg) {
          margin-bottom: 50px;
        }
      }

      span {
        color: $gray;
        display: block;
        margin: 16px 0;
        font-size: 0.875rem;

        @include breakpoint(lg) {
          margin: 24px 0;
          font-size: 1rem;
        }
      }

      p {
        color: white;
        margin: 0;
        font-size: 1rem;

        @include breakpoint(lg) {
          font-size: 1.125rem;
        }

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }
    &.aboutus {
      text-align: center;

      @include breakpoint(lg) {
        text-align: left;
      }

      img {
        width: 300px !important;
        margin: 20px 0;

        @include breakpoint(lg) {
          width: 100%;
          margin: 0;
        }
      }

      h2 {
        margin: 20px 0;
        text-align: center;
        @include breakpoint(lg) {
          text-align: left;
        }
      }
    }

    &.contactus {
      h2 {
        margin-bottom: 12px;
        text-align: center;
        @include breakpoint(lg) {
          text-align: left;
        }
      }

      form {
        input {
          display: block;
          padding: 10px 20px;
        }
        .action {
          display: flex;
          justify-content: space-between;
        }
      }

      a:last-child {
        i {
          margin-left: 36px;
        }
      }

      .sosmed {
        margin-top: 60px;

        @include breakpoint(lg) {
          margin-top: 0;
        }
      }

      .social-media {
        float: right;
        text-align: right;
        color: $white;
        font-size: 1.125rem;
        text-align: right;
        font-weight: 400;

        @include breakpoint(lg) {
          font-size: 1.375rem;
        }

        i {
          font-size: 2rem;
          margin-left: 30px;
        }

        td {
          padding-bottom: 20px;

          @include breakpoint(lg) {
            padding-bottom: 50px;
          }
        }
      }
    }
  }
}

.map {
  iframe {
    width: 100%;
    height: 300px;

    @include breakpoint(lg) {
      height: 500px;
    }
  }
}
