$primary: #121212;
$secondary: #262626;

$white: #ffffff;
$gray: #bdbdbd;
$orange: #ff7a00;

$blackGrad: radial-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0));
$yellowGrad: linear-gradient(to right, #ffb800, #e76f00);
$redGrad: linear-gradient(to right, #ff0404, #a71212);
